.app {
  font: 14px/20px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;

  .app_container {
    .link {
      text-decoration: none;
      color: inherit;
    }
    // display: flex;
    // justify-content: space-between;
  }
}
