$navbar_bg: #e8e6e4;
$navbar_border: #d9d6d5;

.navbar {
  width: 350px;
  height: 100vh;
  padding: 20px 20px;
  //display: flex;
  font: 26px/32px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;

  background: $navbar_bg;
  border: 1px solid $navbar_border;

  .navbar_content {
    .contact_info{
        
    }
    
  }
}
