@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;

}

:root{
  --mainColor: #29335C;
  --mainColorLight: #5767aa;
  --textColor: #eee;
  --hoverColor: #f64740;

}


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}


nav a{
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover{
  color: var(--hoverColor);
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}


@media only screen and (max-width: 1048px) {
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor) ;
    transition: 1s;
    transform: translateY(-100vh);

  }

  header .responsive_nav{
    transform: none;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;

  }

  nav a{
    font-size: 1.5rem;
  }
  

}











