$sidebar_bg: #e8e6e4;
$sidebar_border: #d9d6d5;
$link_activate: #f64740;
$sidebar_width: 250px;
$sidebar_min_activation_width: 1000px;

@media screen and (max-width: $sidebar_min_activation_width) {
  .sidebar * {
    display: none;
  }
}

@media screen and (min-width: $sidebar_min_activation_width) {
  .sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    width: $sidebar_width;
    height: 100vh;
    padding: 30px 30px;
    padding-top: 75px;
    position: sticky;
    top: 0;

    background: $sidebar_bg;
    border: 1px solid $sidebar_border;

    .section_title {
      padding-bottom: 10px;
    }

    .share {
      width: 80%;
      position: absolute;
      bottom: 10%;
      padding-bottom: 25px;
      .section_title {
        //text-align: center;
      }
      img {
      }
    }

    .outer_list_item {
      padding-left: 5px;
      list-style-type: none;
      .link {
        text-decoration: underline;
        &:hover {
          color: $link_activate;
          text-decoration-color: $link_activate;
        }
      }
    }

    .inner_list {
      list-style-type: none;
      list-style-position: inside;
    }

    .inner_list_item {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 10px;

      .link {
        text-decoration: none;
      }
    }
    ul {
    }
  }
}
